.signing-page {
	/* background-image: url('../../images/bannerbackground.png'); */
	background-size: cover;
	height: 650px;

	display: flex;
	justify-content: center;
}
.signing-section{
text-align: center;
}

.signing-section img {
	width: 240px;
	margin: 40px auto;
	text-align: center;
}

form input, form button {
	border: none;
	outline: none;
	height: 55px;
	width: 340px;
	margin: 10px auto;
	background-color: #f8f8f8;
	padding: 14px;
	border-radius: 5px;
}

form button {
	background-color: crimson;
	color: #fff;
}

form button:hover {
	background-color: rgb(158, 7, 37);
}

.have-account-link {
	text-decoration: none;
	color: crimson;
	font-weight: 600;
}

.have-account-link:hover {
	color: #666;
}