footer {
	background-color: #111010;
	height: 300px;
	margin-top: 100px;
}

footer ul li {
	list-style-type: none;
	margin-bottom: 6px;
}

footer ul li a:link {
	text-decoration: none;
	color: #fff;
}

footer ul li a:hover {
	text-decoration: none;
	color: #666;
}

#footer-logo {
	width: 180px;
}