#hero-section {
	height: 600px;
	background-image: url('../../../images/bannerbackground.png');
	background-size: cover;
padding-top: 200px;
}

#search-input {
	width: 400px;
	height: 40px;
	border: none;
	border-radius: 80px;
	color: #666;
	font-weight: 600;
}

#search-btn {
	width: 90px;
	border: none;
	border-radius: 60px;
	margin-left: -50px;
	background-color: crimson;
	color: #fff;
}
